@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
.box
{
    background: #dcdcdc;
    padding: 15px;
     margin-top: 20px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link
{
    color:#fff !important;
}
.navbar-light .navbar-nav .nav-link{
    color:#fff;
}
body{
    font-family: 'Nunito', sans-serif;
}

.carousel-item active d-block
{
    width: 100%;
}

.card{
    width: 18rem; 
     margin: 0 auto;
      border-radius: 4px;
      border: 2px solid black;
      margin-top: 100px;
      margin-bottom: 100px;
      padding: 5px;
      
}